* {
  font-family: Helvetica Neue,tahoma,Arial,Verdana,"Microsoft YaHei","Hiragino Sans GB";
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-touch-callout: none
}